/* ** TABLE OF CONTENT ** */
/* ********************** */
/* ** FONTS            ** */
/* ** VARIABLES        ** */
/* ** RESETS           ** */
/* ** DARKMODE         ** */
/* ** ACCESSIBILITY    ** */
/* ** DIEXPLORER       ** */
/* ** COMPONENTS       ** */
/* ** HEADER           ** */
/* ** NAVIGATION       ** */
/* ** GENERAL STYLING  ** */
/* ** FOOTER           ** */
/* ********************** */
/**/
/* ** FONTS ** */
@font-face {
  font-family: Commissioner;
  src: url("../assets/fonts/Commissioner-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Commissioner;
  src: url("../assets/fonts/Commissioner-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Commissioner;
  src: url("../assets/fonts/Commissioner-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* ** VARIABLES ** */
:root {
  --clr-primary-light: hsl(176, 50%, 47%);
  --clr-primary-dark: hsl(176, 72%, 28%);
  --clr-neutral-dark: hsl(0, 0%, 0%);
  --clr-neutral-light: hsl(0, 0%, 48%);
  --clr-neutral-lighter: hsl(0, 0%, 87%);
  --clr-neutral-lightest: hsl(0, 0%, 96%);
  --spacer: 1rem;
}

/* ** RESET ** */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* 
 * USAGE: Add role="list" to lists that doesn't look like lists. 
 * Remove padding on a per-context basis.
 * Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
 */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in iOS landscape while allowing user zoom */
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.8;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

:-webkit-any-link {
  color: inherit;
}

:-moz-any-link {
  color: inherit;
}

:any-link {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  background-color: transparent;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Cred: Andy Bell @hankchizljaw https://github.com/hankchizljaw/modern-css-reset */
.dIExplorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #16bdee;
  color: #fff;
  text-align: center;
}
.dIExplorer .browsers > * {
  float: left;
  margin: 1em;
}
.dIExplorer img {
  width: 2.5em;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(120deg) brightness(104%) contrast(100%);
}

@supports (grid-area: auto) {
  .dIExplorer {
    visibility: hidden;
    display: none;
  }
}
.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: black;
  display: block;
  font-size: 0.875rem;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* ** COMPONENTS ** */
.container {
  margin-left: max(1.5rem, env(safe-area-inset-left));
  margin-right: max(1.5rem, env(safe-area-inset-right));
}
@media (min-width: 50em) {
  .container {
    width: 90%;
    max-width: 44.5rem;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .container {
    margin-left: max(1em, env(safe-area-inset-left));
    margin-right: max(1em, env(safe-area-inset-right));
  }
}

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large {
  --flow-space: 2rem;
}

.center {
  text-align: center;
}

button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
}
button:active {
  box-shadow: inset 0px 10px 38px -10px rgba(0, 0, 0, 0.5);
}

.flex,
.row {
  display: flex;
  justify-content: space-between;
  gap: var(--gap, var(--spacer));
}

.flex {
  flex-direction: column;
}

@media (min-width: 50rem) {
  .flex {
    flex-direction: row;
  }

  .flex.even > *,
.row.even > * {
    flex-basis: 100%;
  }
}
/* ** GENERAL STYLING ** */
body {
  background-color: #fafafa;
  color: var(--clr-neutral-light);
  position: relative;
}
body.overlay:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

h1,
h2,
h3,
.nav-link {
  color: var(--clr-neutral-dark);
}

section,
.modal {
  padding: 1.5rem;
}
@media (min-width: 50rem) {
  section,
.modal {
    padding: 2.5rem;
  }
}
@media (max-width: 450px) {
  section,
.modal {
    padding: 1rem;
  }
}

section:first-of-type {
  padding-top: 0;
}
section:first-of-type > .row {
  margin-top: 2rem;
}

body {
  font-family: Commissioner, sans-serif;
}

h2,
h3,
.nav-link {
  font-weight: 700;
  font-size: 1.2rem;
}

.card h3,
.price {
  font-weight: 700;
  font-size: 1.1rem;
}

.price {
  font-weight: 500;
}
@media (min-width: 50rem) {
  .price {
    font-weight: 700;
  }
}

.nav-link {
  text-decoration: none;
  font-weight: normal;
}
@media (min-width: 50rem) {
  .nav-link {
    font-size: 0.9rem;
  }
}
.nav-link:hover, .nav-link:focus {
  text-decoration: underline;
}

/* ** HEADER ** */
header {
  background-image: linear-gradient(180deg, #00000088 20%, #ffffff00 100%), url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 76vw;
}
@media (min-width: 50rem) {
  header {
    background-image: linear-gradient(180deg, #00000088 20%, #ffffff00 100%), url(../images/image-hero-desktop.jpg);
    height: 27.1428571429vw;
  }
}

/* ** NAVIGATION ** */
.nav {
  --spacer: 2.5rem;
  max-width: 1190px;
  margin-inline: auto;
  justify-content: space-between;
  padding: var(--spacer);
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}
.nav-list {
  gap: 0;
  justify-content: center;
  background: white;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.5rem;
  display: none;
}
@media (min-width: 50rem) {
  .nav-list {
    display: flex;
    background: none;
    justify-content: flex-end;
    margin-top: 0;
  }
}
.nav-list.open {
  display: block;
}
.nav-item {
  flex-basis: 100%;
  padding-block: 0.5em;
}
@media (min-width: 50rem) {
  .nav-item {
    flex-basis: unset;
    padding-block: 0;
  }
}
.nav-item + .nav-item {
  border-top: 1px solid var(--clr-neutral-lighter);
}
@media (min-width: 50rem) {
  .nav-item + .nav-item {
    border: none;
  }
}
.nav-link {
  display: inline-block;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
@media (min-width: 50rem) {
  .nav-link {
    color: white;
    padding-block: 0;
    padding-inline: 1rem;
  }
}
.nav .mobile-menu {
  position: absolute;
  top: var(--spacer);
  right: var(--spacer);
}
@media (min-width: 50rem) {
  .nav .mobile-menu {
    display: none;
  }
}

button,
input,
.pledge > label,
.bookmark > label {
  font-weight: 500;
  display: inline-block;
  border-radius: 100vw;
}

button,
.pledge > label,
.bookmark > label {
  padding: 1em 2em;
}
@media (min-width: 50rem) {
  button,
.pledge > label,
.bookmark > label {
    padding: 1em 3em;
  }
}

button {
  color: white;
  align-self: flex-start;
}

input[type=radio],
.pledge > label {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid var(--clr-neutral-lighter);
  color: var(--clr-neutral-lighter);
}
input[type=radio]:hover, input[type=radio]:focus-within,
.pledge > label:hover,
.pledge > label:focus-within {
  border-color: var(--clr-primary-light);
  color: var(--clr-primary-light);
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

input[type=number] {
  border: none;
  margin-left: 1em;
}
input[type=number]:focus-visible {
  outline: none;
}
input[type=number]:invalid {
  color: red;
}

input[type=radio] {
  padding: 7px;
  position: relative;
}

input[type=radio]::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 100vw;
}

input[type=radio]:checked::after {
  background: var(--clr-primary-light);
}

.card-description {
  position: relative;
}

.card-description > label {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: var(--clr-primary-light);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--clr-primary-dark);
}

.btn-inactive {
  background-color: var(--clr-neutral-light);
  cursor: no-drop;
}

.bookmark label {
  display: flex;
  align-items: center;
  background-color: var(--clr-neutral-lightest);
  position: relative;
  padding-left: 4.5rem;
  padding-right: 1.5rem;
}
.bookmark label svg {
  position: absolute;
  left: 0;
}

.bookmark > input:checked + label {
  color: var(--clr-primary-dark);
}
.bookmark > input:checked + label svg circle {
  fill: var(--clr-primary-dark);
}
.bookmark > input:checked + label svg path {
  fill: white;
}

@media (max-width: 50rem) {
  .bookmark label span {
    display: none;
  }

  .bookmark label {
    padding: 0;
  }

  .bookmark label svg {
    position: static;
  }
}
section {
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

main {
  margin-top: -3.5rem;
}
@media (min-width: 50rem) {
  main {
    margin-top: -6rem;
  }
}

.crowdfunder-logo + h1 {
  margin-top: 0;
}

.crowdfunder-logo {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.progress-bar {
  background-color: var(--clr-neutral-lightest);
  border-radius: 100vw;
  margin-top: 2rem;
}

.progress {
  width: 89.914%;
  height: 0.8rem;
  background-color: var(--clr-primary-light);
  border-radius: 100vw;
}

.amount-left {
  display: flex;
  align-items: center;
}

.number,
.amount-left span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-neutral-dark);
  margin-right: 0.5rem;
}

.stats {
  text-align: center;
}
@media (min-width: 50rem) {
  .stats {
    text-align: left;
  }
}

.card {
  --gap: 1rem;
  border: 1px solid var(--clr-neutral-light);
  border-color: var(--clr-neutral-lighter);
  border-radius: 0.5rem;
  padding: 1rem;
}
@media (min-width: 50rem) {
  .card {
    --gap: 1.5rem;
    padding: 2rem;
  }
}

.card .flex {
  --gap: 0;
}
@media (min-width: 50rem) {
  .card .flex {
    align-items: center;
  }
}

.card.selected {
  border-color: var(--clr-primary-light);
}

.price {
  color: var(--clr-primary-light);
}

.inactive {
  opacity: 0.4;
}

.pledge {
  border-top: 1px solid var(--clr-neutral-lighter);
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
  padding-top: 1.5rem;
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pledge p {
  padding-left: 1.5rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 50rem) {
  .pledge p {
    width: unset;
    text-align: left;
  }
}
.pledge label {
  width: 125px;
  margin-left: 1rem;
  display: flex;
  padding-left: 2em;
}
@media (min-width: 50rem) {
  .pledge label {
    margin-left: auto;
  }
}
.pledge input {
  width: 5ch;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.pledge button {
  margin-right: 1rem;
}
@media (min-width: 50rem) {
  .pledge button {
    margin-right: 1.5rem;
  }
}

.card .pledge {
  display: none;
}

.card.selected .pledge {
  display: flex;
}

.card-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1.5em 1fr 1.5em -webkit-max-content;
  -ms-grid-columns: min-content 1.5em 1fr 1.5em max-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-max-content;
  grid-template-columns: min-content 1fr max-content;
  -ms-grid-rows: -webkit-min-content 1.5em 1fr 1.5em -webkit-min-content;
  -ms-grid-rows: min-content 1.5em 1fr 1.5em min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  gap: 1.5em;
      grid-template-areas: "input name name" "desc desc desc" "amount amount amount";
}
@media (min-width: 50rem) {
  .card-description {
        grid-template-areas: "input name amount" ". desc desc";
  }
}
.card-description input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input;
  -ms-grid-row-align: center;
      align-self: center;
}
.card-description .flex {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  --gap: 0.5rem;
  grid-area: name;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 50rem) {
  .card-description .flex {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    --gap: 1rem;
    grid-area: name;
    justify-content: flex-start;
    align-items: center;
  }
}
.card-description .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: desc;
}
.card-description .amount-left {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: amount;
}
@media (min-width: 50rem) {
  .card-description input {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .card-description .flex {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .card-description .flex {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .card-description .description {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .card-description .amount-left {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}
.card-description .amount-left span {
  font-size: 1.2rem;
}

.stats .flex div {
  position: relative;
  padding: 1em 0;
}
@media (min-width: 50rem) {
  .stats .flex div {
    margin: 1em 0;
    padding: 0;
  }
}

@media (min-width: 50rem) {
  .stats .flex div + div {
    border-left: 1px solid var(--clr-neutral-lighter);
    padding-left: 2.5rem;
  }
}

.stats .flex div + div:before {
  content: "";
  height: 1px;
  width: 80px;
  background-color: var(--clr-neutral-lighter);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 50rem) {
  .stats .flex div + div:before {
    content: unset;
  }
}

.modal-container {
  display: none;
  /* Set to grid by JS */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-height: 1200px) {
  .modal-container {
    align-items: center;
  }
}

.modal {
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.close-modal:hover,
.close-modal:focus {
  cursor: pointer;
}
.close-modal:hover svg path,
.close-modal:focus svg path {
  opacity: 1;
}

.modal > .img {
  display: flex;
  justify-content: center;
}

@media (min-width: 50rem) {
  .modal-success {
    max-width: 75%;
    margin: 0 auto;
  }
}
.close-modal + h2 {
  margin-top: 0;
}

.modal-success {
  display: none;
}

.modal .amount-left {
  margin-bottom: 1em;
}
@media (min-width: 50rem) {
  .modal .amount-left {
    margin-bottom: 0em;
  }
}

.modal .card:not(.inactive) .card-description:hover h3 {
  color: var(--clr-primary-light);
}

/* ** FOOTER ** */
/*# sourceMappingURL=style.css.map */