/* ** VARIABLES ** */
:root {
   --clr-primary-light: hsl(176, 50%, 47%);
   --clr-primary-dark: hsl(176, 72%, 28%);
   --clr-neutral-dark: hsl(0, 0%, 0%);
   --clr-neutral-light: hsl(0, 0%, 48%);
   --clr-neutral-lighter: hsl(0, 0%, 87%);
   --clr-neutral-lightest: hsl(0, 0%, 96%);
   --spacer: 1rem;
}
